<div class="container mt-5">
    <button (click)="get500()" class="btn btn-outline-primary me-3">Test 500 error</button>
    <button (click)="get404()" class="btn btn-outline-primary me-3">Test 404 error</button>
    <button (click)="get400()" class="btn btn-outline-primary me-3">Test 400 error</button>
    <button (click)="get400Val()" class="btn btn-outline-primary me-3">Test 400 validation error</button>
    <div class="row mt-5" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let erro of validationErrors">{{erro}} </li>
        </ul>
    </div>
</div>